[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = Fazilov Kamil
  email = k.fazilov@icloud.com
  signingKey = E2B09B23
[core]
  editor = vi
  excludesfile = /Users/k.fazilov/.gitignore_global
[credential]
  helper = osxkeychain
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[pull]
  rebase = false
[mergetool "vimdiff"]
  path = vi
[init]
  defaultBranch = main
[gpg]
  program = /opt/homebrew/bin/gpg
[alias]
  diff = diff --word-diff
