[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = Fazilov Kamil
  email = k.fazilov@icloud.com
  signingKey = E2B09B23
[core]
  editor = nvim -f
  excludesfile = /Users/k.fazilov/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RF
[credential]
  helper = osxkeychain
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[merge]
  tool = nvimdiff
[pull]
  rebase = false
[mergetool "nvimdiff"]
  path = nvim -f
[init]
  defaultBranch = main
[gpg]
  program = /opt/homebrew/bin/gpg
[alias]
  diff = diff --word-diff
[gui]
  diffopts = --word-diff
[interactive]
  diffFilter = diff-so-fancy --patch
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
